body {
  height: 100%;
  margin: 0 auto;
  font-family: helvetica;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -150px;
}

.push {
  height: 150px;
}

footer {
  background-image: url(../img/footer-image2.jpg);
  height: 150px;
}
