header {
  background-image: url(../img/footer-image2.jpg);
  height: 130px;
  color: #01d277;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courgette', cursive;
}

#log-in {
  margin-top: 50px;
  margin-bottom: 110px;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}

#log-in input {
  width: 40%;
  height: 27px;
}

fieldset p {
  font-size: 8px;
}

.personality {
  margin-top: 50px;
}

.personality ol li {
  border-bottom: thin solid #444;
  line-height: 1.5;
  margin-top: 50px;
  margin-left: 10%;
  padding-bottom: 30px;
  width: 75%;
  font-size: 25px;
}

.personality form {
  font-size: 17px;
  color: #0089bf;
}

#show-button {
  text-align: center;
}

#show-button button {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 70px;
  width: 30%;
  font-size: 20px;
}

.test-button {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
  height: 70px;
  width: 30%;
  font-size: 20px;
}

#dashboard, #watchlist {
  margin-top: 50px;
  text-align: center;
}

#dashboard h2, #watchlist h2 {
  font-size: 40px;
}

#movie-suggestions img, #movie-list img {
  width: 30%;
}

#movie-suggestions ul, #movie-list ul {
  font-size: 30px;
}


.movie-items {
  margin-bottom: 50px;
}

.tmdb img {
  width: 15%;
  margin-top: 100px;
}

.about-us {
  margin-top: 50px;
  text-align: center;
}

.about-us h2 {
  font-size: 40px;
}

.about-us h4 {
  font-size: 30px;
  font-family: 'Courgette', cursive;
}
.about-us p {
  line-height: 1.5;
  color: #0089bf;
}

.about-us li {
  float: left;
  margin-top: 30px;
  margin-bottom: 50px;
  width: 30%;
}

.about-us li:first-child {
  margin-left: 30px;
}
