header {
  background-image: url(../img/footer-image2.jpg);
  height: 130px;
  color: #01d277;
}

h1 {
  margin-top: 50px;
  text-align: center;
  font-size: 40px;
  font-family: 'Courgette', cursive;
}

#log-in {
  margin-top: 50px;
  margin-bottom: 110px;
  text-align: center;
  line-height: 2;
  font-size: 20px;
}

#log-in input {
  width: 40%;
  height: 27px;
}

fieldset p {
  font-size: 8px;
}

.personality {
  margin-top: 50px;
}

.personality ol li {
  border-bottom: thin solid #444;
  line-height: 1.5;
  margin-top: 50px;
  margin-left: 10%;
  padding-bottom: 30px;
  width: 75%;
  font-size: 25px;
}

.personality form {
  font-size: 17px;
  color: #0089bf;
}

#show-button {
  text-align: center;
}

#show-button button {
  margin-top: 40px;
  margin-bottom: 50px;
  height: 70px;
  width: 30%;
  font-size: 20px;
}

#dashboard {
  margin-top: 50px;
  text-align: center;
}

#movie-suggestions img {
  width: 30%;
}

.movie-items {
  margin-bottom: 50px;
}

.tmdb img {
  width: 15%;
  margin-top: 100px;
}
